<div class="container">

  <div class="page-container">
    <form [formGroup]="passwordForm" fxFlex="500px" fxFlex.lt-sm="100%" class="formFeild">
      <div fxLayout="column" fxLayoutGap="1%">
        <mat-label>old password</mat-label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="oldPassword">
          <mat-error *ngIf="passwordForm?.get('oldPassword')?.hasError('required')">
            {{(message | async)?.FIELD_REQUIRED}}
          </mat-error>
        </mat-form-field>
        <mat-label>new password</mat-label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="newPassword">
          <mat-error *ngIf="passwordForm?.get('newPassword')?.hasError('required')">
            {{(message | async)?.FIELD_REQUIRED}}
          </mat-error>
        </mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="confirmPassword">
          <mat-error *ngIf="passwordForm?.get('confirmPassword')?.hasError('required')">
            {{(message | async)?.FIELD_REQUIRED}}
          </mat-error>
          <!-- <mat-error *ngIf="passwordForm?.get('confirmPassword')?.hasError('missmatch')">
            {{(message | async)?.PASSWORD_MISMATCH}}
          </mat-error> -->
          <mat-error *ngIf="passwordForm?.get('confirmPassword')?.errors?.['missmatch']">
            {{(message | async)?.PASSWORD_MISMATCH}}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" data-control="Submit" (click)="onSubmit()">Submit</button>
      </div>
    </form>
  </div>
