<div class="container">
    <h1>snackbar</h1>
    <h1>demo</h1>
    <div fxLayout="row" MyFxLayoutAlign="center center">
        <button class="defaultColor" (click)=" default()" mat-raised-button>Default</button>
        <button class="successColor" (click)="success()" mat-raised-button>Success</button>
        <button class="errorColor" (click)="error()" mat-raised-button>Error</button>
        <button class="warningColor" (click)="warning()" mat-raised-button>warning</button>
        <button class="infoColor" (click)="info()" mat-raised-button>Info</button>
    </div>
</div>