<mat-form-field *ngIf="filter">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>
<div class="mat-elevation-z8" *ngIf="displayColumn && dataSource">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let column of columns;index as i" [matColumnDef]="column.name">
      <ng-container *ngIf="column.name !=='action'">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.displayName}} </th>
        <td mat-cell *matCellDef="let element">
          {{element[column.name]}}
        </td>
      </ng-container>
      <ng-container *ngIf="column.name ==='action'">
        <th mat-header-cell *matHeaderCellDef> {{column.displayName}} </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="action" *ngFor="let a of actionArr" (click)="onAction(a.method,element)"
            [matTooltip]="a.toolTip">{{a.name}}</mat-icon>
        </td>
      </ng-container>
    </ng-container>
    <div *ngIf="idColumn">
      <ng-container *ngFor="let idcolumn of idColumn" [matColumnDef]="idcolumn.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{idcolumn.displayName}} </th>
        <td mat-cell *matCellDef="let element">
          {{element[idcolumn.associateTable].name}}
        </td>
      </ng-container>
    </div>
    <div *ngIf="dateColumn">
      <ng-container *ngFor="let datecolumn of dateColumn" [matColumnDef]="datecolumn.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{datecolumn.displayName}} </th>
        <td mat-cell *matCellDef="let element">
          {{element[datecolumn.name] | date :
          datecolumn.dateFormat?datecolumn.dateFormat:'shortDate'}}
        </td>
      </ng-container>
    </div>
    <tr class=" mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayColumn.length">
        No data
      </td>
    </tr>
    <tr mat-header-row *matHeaderRowDef="displayColumn"></tr>
    <tr mat-row *matRowDef="let row;columns:displayColumn;"></tr>
  </table>
  <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
  </mat-paginator>
</div>